
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/homepage.css" type="text/css" />

  <!-- carousel css -->
  <!-- <link rel="stylesheet" href="/styles/carousel.css" /> -->
  <!-- carousel script -->
  <script src="/scripts/carousel.js"></script>

  <!-- Bootstrap -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/03a60bf669.js" crossorigin="anonymous"></script>

  <title>SOUNDSLIDE</title>
  </head>
  <body>
    <%-include('./partials/_headers') %>
    <div class="headerContainer">
      <h4>This is SOUNDSLIDE. A non-profit music uploading platform for emerging artists. Choose how much you want to
        pay for a song. All purchases go into the pockets of the artist. </h4>
      <button type="submit">POST A TRACK</button>
    </div>
    <div id="wrapper">
      <div id="carousel">
        <div id="content">
        <% for (let song of songs){  %>
          <div id="art_and_info">
            <div>
              <img
              class="item"
              src="https://lh3.googleusercontent.com/0OynDYRoCaQWJIUyiOrUVeoub0mLNrDUcUZrJXF2WHQD77o-F_g2EnqZqVevO954WzD7mC5qTg=w512-h512-l90-rj"
              />
            </div>
            <form action="/users" method="POST">
            <div id="song_info">
              <p class="song_part"><%= song.song_name %></p>
              <p class="song_part"><%= song.name %></p>
              <p class="song_part"><%= song.price %></p>
              <p class="song_part"><%= song.duration %></p>
              <p class="song_part">downloaded n times</p>
                <input type="hidden" id="purchase" name="song_name" value=<%= song.song_name %> />
            <div class="song_info">
              <li> <%= song.song_name %> </li>
              <li> <%= song.name %> </li>
              <li> <%= song.price %> </li>
              <li> <%= song.duration %> </li>
              <li>downloaded n times</li>
              <form action="/users" method="POST">
                <input type="hidden" name="song_id" value="<%= song.id %>">
                <button type="submit" action class="btn btn-primary">purchase</button>
              </form>
            </div>
          </div>
            <% } %>
          </div>
      </div>
      <button id="prev">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
        </svg>
      </button>
      <button id="next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
        </svg>
      </button>
    </div>
    <footer>Credit: Farouk Alsajee -- Luke Bergman -- Josiah Pilon</footer>
  </body>
</html>







<!-- router.post("/users", (req, res) => {
  req.body should include variable called song_name or something
}) -->

